/* Herencia */
/* Se le pasa a todos los hijos o etiquetas */
h1{
  color:brown
}

h2{
  color: aquamarine;
}

/* Especificidad */
/* Le especificas a quien le aplicaras el estilo */
.description{
  font-weight: bold;
  font-size: 30px;
  color: gray;
}

.titulo{
  color: cyan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo .otro{
  font-size: 50px;
}


/* Cascada */
/* Sobreescribe el estilo que ya tenia aplicado */
.description{
  font-size: 50px;
}

h2{
  font-size: 60px;
}

